<section class="content-header" ng-show="nav.isLoggedIn()">
  <h1>
    Dashboard
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a ><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Sprint Board</li>
  </ol>
</section>
<section class="content" ng-show="nav.isLoggedIn()">
  <div class="box box-info">
    <div class="box-header with-border">
      <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
        <i class="fa fa-arrow-left"></i>
        <md-tooltip md-direction="bottom">
          Go Back
        </md-tooltip>
      </md-button>
      <md-input-container class="md-block">
      <label>Select Project</label>
      <md-select name="projects" ng-change="loadSprint()" ng-model="currentProject">
        <md-option ng-repeat="project in myProjects" value="{{project._id}}">
          <span>{{project.name}}</span>
        </md-option>
      </md-select>
    </md-input-container>
    </div>
    <div class="box-body">

      <div ng-controller="SprintCtrl">
        <table class="table table-bordered">
            <thead>
              <tr id="boardHeader">
                  <th style="width:25%; text-align: center;">
                      <span>User stories</span>
                  </th>
                  <th style="width:25%; text-align: center;">
                      <div>
                          <span>Not Started</span>
                      </div>
                  </th>
                  <th style="width:25%; text-align: center;">
                      <div>
                          <span>In Progress</span>
                      </div>
                  </th>
                  <th style="width:25%; text-align: center;">
                      <div>
                          <span>Done</span>
                      </div>
                  </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="story in project.stories | orderBy : 'dateadded'">
                  <td style="width:25%; text-align:center;">
                    <div class="chip" ng-if="story.done === false"
                      <span><b style="color:#7ACBEE;font-size:18px;">S</b></span>
                      {{story.name}}
                    </div>
                  </td>
                  <td ui-on-Drop="onDrop($event, $data, story, 'notStarted')">
                    <div ui-draggable="true" drag="task" class="chip" draggable ng-repeat="task in story.tasks | orderBy : 'dateadded'" ng-if="task.notstarted === true">
                        <span><b style="color:#A3C86D;font-size:18px;">T</b></span>
                        {{task.name}}
                    </div>
                  </td>
                  <td ui-on-Drop="onDrop($event, $data, story, 'inProgress')">
                    <div ui-draggable="true" class="chip" drag="task" ng-model="currentTask" draggable ng-repeat="task in story.tasks | orderBy : 'dateadded'" ng-if="task.inprogress === true">
                      <span><b style="color:#A3C86D;font-size:18px;">T</b></span>
                      {{task.name}}
                    </div>
                  </td>
                  <td ui-on-Drop="onDrop($event, $data, story, 'done')">
                    <div  ui-draggable="true" drag="task" class="chip" draggable  ng-repeat="task in story.tasks | orderBy : 'dateadded'" ng-if="task.done === true">
                      <span><b style="color:#A3C86D;font-size:18px;">T</b></span>
                      {{task.name}}
                    </div>
                  </td>
              </tr>
            </tbody>
        </table>
      </div>

    </div>
    <div class="box-footer">
    </div>
  </div>
</section>
