
	<div class="pull-right hidden-xs">

  </div>
  <!-- Default to the left -->
	<div style="padding-left:35%;">
  	<strong>Copyright &copy; 2015 <a href="#"><b style="color:#7ACBEE">A</b><b style="color:#dd4b39"><sup>2</sup></b><b style="color:#A3C86D ">M</b><b style="color:#FF7857 ">E</b>.</strong> All rights reserved.
	</div>
