<section class="content-header">
  <h1>
    New Project
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a ><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a ui-sref="project">Projects</a></li>
    <li class="active">New Project</li>
  </ol>
</section>

<section class="content" ng-controller="ProjectCtrl">
  <div class="box box-info">
      <div class="box-header with-border">
        <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
          <i class="fa fa-arrow-left"></i>
        </md-button>
      </div>
      <div class="box-body">

      <form name="newProjectForm">

        <md-input-container class="md-block">
          <label>Name</label>
          <input md-maxlength="30" required name="name" ng-model="newProject.name">
          <div ng-messages="newProjectForm.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea rows="3" md-maxlength="250" required name="description" ng-model="newProject.description">
          </textarea>
          <div ng-messages="newProjectForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description has to be less than 250 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Scrum Master</label>
          <md-select required name="master" ng-model="newProject.master">
            <md-option ng-repeat="user in users" value="{{user._id}}">
              {{user.name}}
            </md-option>
          </md-select>
          <div ng-messages="newProjectForm.master.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Developers</label>
          <md-select name="developers" multiple="true" required name="master" ng-model="newProject.developers">
            <md-option ng-repeat="user in users" value="{{user._id}}">
              {{user.name}}
            </md-option>
          </md-select>
          <div ng-messages="newProjectForm.developers.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

      </form>

        </div>
      </div>
      <div class="box-footer">

        <md-button aria-label="Undo Changes" ui-sref="project" class="md-raised md-warning pull-right">
          <i class="fa fa-undo"></i> Cancel
        </md-button>
        <md-button class="md-raised md-primary pull-right" ng-click="createProject()" ariaLabel="Create">
           <i class="fa fa-save"></i> Create
        </md-button>

      </div>
    </div>
</section><!-- /.content -->
