<section class="content-header">
  <h1>
    Projects
    <small>Participating In</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Projects</li>
  </ol>
</section>

<section class="content" ng-controller="ProjectCtrl">
  <div class="box box-info">
      <div class="box-header with-border">
        <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
          <i class="fa fa-arrow-left"></i>
          <md-tooltip md-direction="bottom">
            Go Back
          </md-tooltip>
        </md-button>
        <md-button class="md-fab md-mini md-primary pull-right" aria-label="Add" ng-click="createProject($event)">
          <i class="fa fa-plus"></i>
          <md-tooltip md-direction="bottom">
            Add Project
          </md-tooltip>
        </md-button>
      </div>
      <div class="box-body">
        <md-content ng-if="!editproject">
          <md-list ng-slimscroll height="600">
            <md-list-item class="md-3-line" ng-click="goToProject(project)" ng-repeat="project in myProjects | orderBy : '-dateadded'">
              <!--<p class="face">P</p>-->
                <img src="assets/images/P.png" class="face" alt="P">
                <div class="md-list-item-text">
                  <h3><b>{{project.name}}</b></h3>
                  <h4>Product Owner: {{project.owner}}</h4>
                  <p>{{project.description}}</p>
                </div>
              <section layout="row">
                <md-button class="md-icon-button" ng-click="editProject(project)" aria-label="Edit"><i class="fa fa-edit"></i></md-button>
              </section>

              <md-divider md-inset ng-if="!$last"></md-divider>

            </md-list-item>
          </md-list>
        </md-content>

        <md-content ng-if="editproject">

          <form name="editProjectForm">

            <md-input-container class="md-block">
              <label>Name</label>
              <input md-maxlength="30" required name="name" ng-model="editproject.name">
              <div ng-messages="editProjectForm.name.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <textarea rows="3" md-maxlength="250" required name="description" ng-model="editproject.description">
              </textarea>
              <div ng-messages="editProjectForm.description.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description has to be less than 250 characters long.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label>Scrum Master<!--: <md-select-label style="color:black">{{ editproject.master }}</md-select-label>--></label>
            <md-select required name="master" ng-model="editproject.master">
              <md-option ng-repeat="user in users" value="{{user.name}}">
                {{user.name}}
              </md-option>
            </md-select>
            <div ng-messages="editProjectForm.master.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <!--<md-chips ng-model="editproject.developers" readonly="ctrl.readonly"></md-chips>-->
          <md-input-container class="md-block">
          <label>Developers<!--: <md-select-label>{{ editproject.developers }}</md-select-label>--></label>
          <md-select multiple required name="developers" ng-model="editproject.developers">
            <md-option ng-repeat="user in users" value="{{user.name}}">
              {{user.name}}
            </md-option>
          </md-select>
          <div ng-messages="editProjectForm.developers.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

          <md-input-container>
            <label>Project Done</label>
            <md-switch ng-model="editproject.done">{{editProject.done ? "Enabled" : "Disabled"}}</md-switch>
          </md-input-container>

          </form>

          <md-button class="md-raised md-warn" ng-click="deleteProject(editproject, $event)" aria-label="Delete">
            <i class="fa fa-trash"></i>Delete
          </md-button>

          <md-button aria-label="Undo Changes" ng-click="undoProjectEdit()" class="md-raised pull-right">
            <i class="fa fa-undo"></i> Cancel
          </md-button>
          <md-button class="md-raised md-primary pull-right" ng-click="updateProject(editproject, $event)" ariaLabel="Save Changes">
             <i class="fa fa-save"></i> Save Changes
          </md-button>
        </md-content>
        <!--<div class="input-group">

          <span class="input-group-addon">Select Project</span>
          <select class="form-control select2" ng-model="currentProject" ng-click="loadProject()" data-placeholder="Select a Project" style="width: 100%;">
            <option>Select a Project to Load</option>
            <option ng-repeat="project in myProjects" ui-sref-active="active">{{project.name}}</option>
          </select>
        </div><!-- /.form-group -->
      </div>
      <div class="box-footer">
      </div>
  </div>

</section><!-- /.content -->
