<header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b style="color:#7ACBEE">A</b><b style="color:#dd4b39"><sup>2</sup></b><b style="color:#A3C86D ">M</b><b style="color:#FF7857 ">E</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b style="color:#7ACBEE">A</b><b style="color:#dd4b39"><sup>2</sup></b><b style="color:#A3C86D ">M</b><b style="color:#FF7857 ">E</b></span>
        </a>


<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="NavbarController">
  <!--<div class="container">-->
  	<!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
            <span class="sr-only">Toggle navigation</span>
          </a>
    <!--<div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <!--<a href="/" class="navbar-brand">a2-me</a>-->
    <!--</div>-->
    <!--<div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">-->
      <!--<ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>-->
	<div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

      	<li ng-show="nav.isLoggedIn()" class="dropdown messages-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the messages -->
                    <ul class="menu" ng-slimscroll height="200">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <!-- User Image -->
                            <img src="{{ nav.getCurrentUser().pic }}" class="img-circle" alt="User Image">
                          </div>
                          <!-- Message title and timestamp -->
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <!-- The message -->
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                    </ul><!-- /.menu -->
                  </li>
                  <li class="footer"><a ui-sref="emails">See All Messages</a></li>
                </ul>
              </li><!-- /.messages-menu -->

              <!-- Notifications Menu -->
              <li ng-show="nav.isLoggedIn()" class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning"></span>
                </a>
                <ul class="dropdown-menu" >
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- Inner Menu: contains the notifications -->
                    <ul class="menu"  ng-slimscroll height="200">
                      <li><!-- start notification -->
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li><!-- end notification -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>

              <!-- Tasks Menu -->
              <li ng-show="nav.isLoggedIn()" class="dropdown tasks-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- Inner menu: contains the tasks -->
                    <ul class="menu"  ng-slimscroll height="200">
                      <li><!-- Task item -->
                        <a href="#">
                          <!-- Task title and progress text -->
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <!-- The progress bar -->
                          <div class="progress xs">
                            <!-- Change the css width attribute to simulate progress -->
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>

              <!-- User Account Menu -->
              <li ng-show="nav.isLoggedIn()" class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{{ nav.getCurrentUser().pic }}" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{ nav.getCurrentUser().name }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{{ nav.getCurrentUser().pic }}" class="img-circle" alt="User Image">
                    <p>
                      {{ nav.getCurrentUser().name }} - Web Developer
                      <small>Member since Nov. 2015</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!--<li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Tasks</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>-->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a ui-sref="settings" class="btn btn-default btn-flat">Settings</a>
                    </div>
                    <div class="pull-right">
                      <a ui-sref="logout" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>

        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <!--<li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>-->
        <!--<li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="fa fa-gears"></span></a></li>-->
        <!--<li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>-->
      </ul>
    </div>
    <!--</div>-->
  <!--</div>-->
</nav>
</header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div ng-show="nav.isLoggedIn()" class="user-panel">
            <div class="pull-left image">
              <img src="{{ nav.getCurrentUser().pic }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{ nav.getCurrentUser().name }}</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- search form (Optional) -->
          <form ng-show="nav.isLoggedIn()" action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
		    <ul ng-show="nav.isLoggedIn()" class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li ng-show="nav.isLoggedIn()" class="{{item.state}} treeview" ng-repeat="item in nav.menu" ui-sref-active="active">
            	<a ui-sref="{{item.ref}}">
            		<i class="{{item.class}}"></i> <span>{{item.title}}</span>
            		<small class="label pull-right {{item.color}}">{{item.no}}</small>
            	</a>
        	</li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
