


<!-- THIS HEADER WILL HIDE WHEN LOGGED IN -->
<header class="hero-unit" id="banner" ng-hide="nav.isLoggedIn()">
  <div class="container">
    <span class="" style="padding-top:430px;padding-left:430px;font-size:100px;"><b style="color:#7ACBEE">A</b><b style="color:#dd4b39"><sup>2</sup></b><b style="color:#A3C86D ">M</b><b style="color:#FF7857 ">E</b></span>
  </div>
</header>

<!-- THIS DIV WILL HIDE WHEN LOGGED IN -->
<div class="container" ng-hide="nav.isLoggedIn()">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">A2ME is a simple Scrum project managemnet tool, that is built simply to help team members to keep track of all the things.</h1>    <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>-->
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <h3>To join the simply amazing and amazingly simple <span class="logo-mini"><b style="color:#7ACBEE">A</b><b style="color:#dd4b39"><sup>2</sup></b><b style="color:#A3C86D ">M</b><b style="color:#FF7857 ">E</b></span></h3>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
        <md-button ui-sref-active="active" class="md-raised" ui-sref="signup">Sign up</md-button>
      </div>
      <div class="col-md-1">
        <h3> OR </h3>
      </div>
      <div class="col-md-2">
        <md-button ui-sref-active="active" class="md-raised md-primary" ui-sref="login">Login</md-button>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <!--<form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>-->
</div>

<!-- THIS SECTION WILL SHOW WHEN LOGGED IN -->
<section class="content-header" ng-show="nav.isLoggedIn()">
  <h1>
    Dashboard
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a ><i class="fa fa-dashboard"></i> Dashboard</a></li>
  </ol>
</section>
<section class="content" ng-show="nav.isLoggedIn()">
  <div class="box box-info">
    <div class="box-header with-border">
      <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
        <i class="fa fa-arrow-left"></i>
        <md-tooltip md-direction="bottom">
          Go Back
        </md-tooltip>
      </md-button>
    </div>
    <div class="box-body">

      <!-- Main content -->
      <section class="content">


      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
              <span class="bg-red">
                10 March. 2016
              </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">M. M. Bilal Shabbir</a> sent you an email</h3>
                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">Read more</a>
                  <a class="btn btn-danger btn-xs">Delete</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                <h3 class="timeline-header no-border"><a href="#">Abhishaik</a> Added to project</h3>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-comments bg-yellow"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                <h3 class="timeline-header"><a href="#">Osama Shabrez</a> Added new task</h3>
                <div class="timeline-body">
                  It is a long established fact that a reader!
                  It will be distracted by the readable.
                  Content of a page when looking at its layout.
                  </div>
                <div class="timeline-footer">
                  <a class="btn btn-warning btn-flat btn-xs">View Story</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
              <span class="bg-green">
                3 March. 2016
              </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-camera bg-purple"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 7 days ago</span>
                <h3 class="timeline-header"><a href="#">Lina</a> Changed the status</h3>
                <div class="timeline-body">
                  </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-video-camera bg-maroon"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 9 days ago</span>
                <h3 class="timeline-header"><a href="#">M. M. Bilal Shabbir</a> Finished the task</h3>
                <div class="timeline-body">
                  <div class="embed-responsive embed-responsive-16by9">
                  </div>
                </div>
                <div class="timeline-footer">
                  <a href="#" class="btn btn-xs bg-maroon">See Details</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>
    </div>
    <div class="box-footer">

    </div>
  </div>
</section>
