<section class="content-header">
  <h1>
    Project
    <small>Participating In</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Projects</li>
    <li class="active">Stories</li>
    <li class="active">Tasks</li>
  </ol>
</section>

<section class="content" ng-controller="TaskCtrl">
  <div class="box box-info">
      <div class="box-header with-border">
        <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
          <i class="fa fa-arrow-left"></i>
        </md-button>
        <md-button ui-sref="newtask" class="md-raised md-primary pull-right">
            New Task
        </md-button>
        <md-divider>
        </md-divider>
        <md-content>
          <h2>{{project.story.name}}</h1>
          <h4>{{project.story.description}}</h3>
        </md-content>

      </div>
      <div class="box-body">
        <md-content ng-if="!edittask">
          <md-list  ng-slimscroll height="600">
            <md-list-item class="md-3-line" ng-click="goToTask(task)" ng-repeat="task in project.story.tasks | orderBy : '-dateadded'">
              <!--<p class="face">P</p>-->
                <img src="assets/images/T.png" class="face" alt="P">
                <div class="md-list-item-text">
                  <h3>{{task.name}}</h3>
                  <h4>Assigne: {{task.assigne}}</h4>
                  <p>{{task.details}}</p>
                </div>
                <section layout="row">
                  <md-button class="md-icon-button" ng-click="editTask(task)" aria-label="Edit"><i class="fa fa-edit"></i></md-button>
                  <md-button class="md-icon-button" ng-click="deleteTask(task, $event)" aria-label="Delete"><i class="fa fa-trash"></i></md-button>
                </section>

              <md-divider md-inset ng-if="!$last"></md-divider>

            </md-list-item>
          </md-list>
        </md-content>

        <md-content ng-if="edittask">

          <form name="editTaskForm">

            <md-input-container class="md-block">
              <label>Name</label>
              <input md-maxlength="30" required name="name" ng-model="editingTask.name">
              <div ng-messages="editTaskForm.name.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <input md-maxlength="250" required name="details" ng-model="editingTask.details">
              <div ng-messages="editTaskForm.details.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The details has to be less than 250 characters long.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Task Done</label>
              <md-switch ng-model="editingTask.done">{{editingStory.done ? "Enabled" : "Disabled"}}</md-switch>
            </md-input-container>

          </form>

          <md-button aria-label="Undo Changes" ng-click="undoTaskEdit()" class="md-raised md-warning pull-right">
            <i class="fa fa-undo"></i> Cancel
          </md-button>
          <md-button class="md-raised md-primary pull-right" ariaLabel="Save Changes">
             <i class="fa fa-save"></i> Save Changes
          </md-button>
        </md-content>

      </div>
      <div class="box-footer">
      </div>
  </div>

</section><!-- /.content -->
