<md-dialog aria-label="Add New Story">
  <md-content class="md-padding">
  <div class="box box-info">
      <div class="box-header with-border">
      </div>

      <div class="box-body">

      <form name="newStoryForm">

        <md-input-container class="md-block">
          <label>Name</label>
          <input md-maxlength="30" required name="name" ng-model="newStory.name">
          <div ng-messages="newStoryForm.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea rows="5" md-maxlength="500" required name="description" ng-model="newStory.description">
          </textarea>
          <div ng-messages="newStoryForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description has to be less than 500 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Priority</label>
          <input required type="number" ng-model="newStory.priority" min="1" max="5" />
          <div ng-messages="newStoryForm.master.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

      </form>

        </div>
      </div>
      <div class="box-footer">
        
        <md-button aria-label="Undo Changes" ui-sref="project" class="md-raised md-warning pull-right">
          <i class="fa fa-undo"></i> Cancel
        </md-button>
        <md-button class="md-raised md-primary pull-right" ng-click="createProject()" ariaLabel="Create">
           <i class="fa fa-save"></i> Create
        </md-button>

      </div>
    </md-content>
</md-dialog>
