<section class="content-header">
  <h1>
    Project
    <small>Participating In</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Projects</li>
    <li class="active">Stories</li>
  </ol>
</section>

<section class="content" ng-controller="StoryCtrl">
  <div class="box box-info">
      <div class="box-header with-border">
        <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
          <i class="fa fa-arrow-left"></i>
          <md-tooltip md-direction="bottom">
            Go Back
          </md-tooltip>
        </md-button>
        <md-button class="md-fab md-mini md-primary pull-right" aria-label="Add" ng-click="createStory($event)">
          <i class="fa fa-plus"></i>
          <md-tooltip md-direction="bottom">
            Add Story
          </md-tooltip>
        </md-button>

        <md-divider>
        </md-divider>
        <md-content>
          <md-content layout="row">
            <h3>{{project.name}}</h3>
            <span style="margin-top:18px;margin-left:8px;"><h5>{{project.master}}</h5></span>
          </md-content>
          <p>{{project.description}}</p>
        </md-content>

      </div>
      <div class="box-body">
        <md-content ng-if="!editstory">

          <md-content ng-slimscroll height="450">

          <v-accordion class="vAccordion--default">

          <v-pane ng-repeat="story in project.stories | orderBy : '-dateadded'" expanded="pane.isExpanded" >
            <v-pane-header>
              <md-button tooltip="Edit Story" style="margin-top:14px;margin-right:30px;" class="md-icon-button pull-right" ng-click="editStory(story)" aria-label="Edit">
                <i class="fa fa-edit"></i>
                <md-tooltip md-direction="top">
                  Edit Story
                </md-tooltip>
              </md-button>
              <md-button tooltip="Add Task" style="margin-top:14px;margin-right:14px;" class="md-icon-button pull-right" ng-click="createTask(story, $event)" aria-label="Add Task">
                <i class="fa fa-plus-circle"></i>
                <md-tooltip md-direction="top">
                  Add Task
                </md-tooltip>
              </md-button>
              <md-content layout="row">
                  <span style="margin-top:-20px; margin-right:10px;"><b style="color:#7ACBEE;font-size:60px;">S</b></span>
                  <span style="margin-top:-8px;"><h2 style="font-weight:bold">{{story.name}}</h2></span>
                  <span style="margin-left:12px;margin-top:13px;"> <h5><b>Priority:</b> {{story.priority}}</h5> </span>
              </md-content>
            </v-pane-header>
            <v-pane-content>
              <p><b>Description: </b>{{story.description}}</p>
              <md-divider></md-divider>
              <!-- accordions can be nested :) -->
              <md-content ng-slimscroll height="300">
              <v-accordion ng-if="!edittask">
                <v-pane ng-repeat="task in story.tasks | orderBy : '-dateadded'">
                  <v-pane-header>
                    <md-button style="margin-top:6px;margin-right:30px;" class="md-icon-button pull-right" ng-click="editTask(task)" aria-label="Edit"><i class="fa fa-edit"></i></md-button>
                    <md-content layout="row">
                        <span style="margin-top:-8px; margin-right:10px;"><b style="color:#A3C86D;font-size:40px;">T</b></span>
                        <span style="margin-top:-8px;"><h3 style="font-weight:bold">{{task.name}}</h3></span>
                        <span style="margin-left:12px;margin-top:8px;"> <h5><b>Assigne:</b> {{task.assigne}}</h5> </span>
                    </md-content>
                  </v-pane-header>
                  <v-pane-content>
                    <p><b>Details: </b> {{task.details}} </p>
                  </v-pane-content>
                </v-pane>
              </v-accordion>
              <md-content ng-if="edittask">

                <form name="editTaskForm">
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Name</label>
                      <input md-maxlength="30" required name="name" ng-model="edittask.name">
                      <div ng-messages="editTaskForm.name.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Assigne</label>
                      <md-select required name="assigne" ng-model="edittask.assigne">
                        <md-option ng-repeat="user in users" value="{{user.name}}">
                          {{user.name}}
                        </md-option>
                      </md-select>
                      <div ng-messages="editTaskForm.assigne.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                  </div>
                  <md-input-container class="md-block">
                    <label>Description</label>
                    <input md-maxlength="1000" rows="7" required name="details" ng-model="edittask.details">
                    <div ng-messages="editTaskForm.details.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="md-maxlength">The details has to be less than 1000 characters long.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Task Done</label>
                    <md-switch ng-model="edittask.done">{{edittask.done ? "Enabled" : "Disabled"}}</md-switch>
                  </md-input-container>

                </form>
                <md-button class="md-raised md-warn" ng-click="deleteTask(story, edittask, $event)" aria-label="Delete">
                  <i class="fa fa-trash"></i>Delete
                </md-button>

                <md-button aria-label="Undo Changes" ng-click="undoTaskEdit()" class="md-raised md-warning pull-right">
                  <i class="fa fa-undo"></i> Cancel
                </md-button>
                <md-button class="md-raised md-primary pull-right" ng-click="updateTask(story, edittask, $event)" ariaLabel="Save Changes">
                   <i class="fa fa-save"></i> Save Changes
                </md-button>
              </md-content>
            </md-content>
            </v-pane-content>
          </v-pane>
          </v-accordion>
        </md-content>
          <!--<md-list  ng-slimscroll height="600">
            <md-list-item class="md-3-line" ng-click="goToStory(story)" ng-repeat="story in project.stories | orderBy : '-dateadded'">
                <img src="assets/images/S.png" class="face" alt="P">
                <div class="md-list-item-text">
                  <h3>{{story.name}}</h3>
                  <h4>Priority: {{story.priority}}</h4>
                  <p>{{story.description}}</p>
                </div>
                <section layout="row">
                  <md-button class="md-icon-button" ng-click="editStory(story)" aria-label="Edit"><i class="fa fa-edit"></i></md-button>
                </section>

              <md-divider md-inset ng-if="!$last"></md-divider>

            </md-list-item>
          </md-list>-->
        </md-content>

        <md-content ng-if="editstory">

          <form name="editStoryForm">

            <md-input-container class="md-block">
              <label>Name</label>
              <input md-maxlength="30" required name="name" ng-model="editstory.name">
              <div ng-messages="editStoryForm.name.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <input md-maxlength="250" required name="description" ng-model="editstory.description">
              <div ng-messages="editStoryForm.description.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description has to be less than 250 characters long.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Priority</label>
              <input required type="number" ng-model="editstory.priority" min="1" max="5" />
              <div ng-messages="editStoryForm.master.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

          <md-input-container>
            <label>Story Done</label>
            <md-switch ng-model="editstory.done">{{editStory.done ? "Enabled" : "Disabled"}}</md-switch>
          </md-input-container>

          </form>

          <md-button class="md-raised md-warn" ng-click="deleteStory(editstory, $event)" aria-label="Delete">
            <i class="fa fa-trash"></i>Delete
          </md-button>

          <md-button aria-label="Undo Changes" ng-click="undoStoryEdit()" class="md-raised pull-right">
            <i class="fa fa-undo"></i> Cancel
          </md-button>
          <md-button class="md-raised md-primary pull-right" ng-click="updateStory(editstory, $event)" ariaLabel="Save Changes">
             <i class="fa fa-save"></i> Save Changes
          </md-button>
        </md-content>



      </div>
      <div class="box-footer">
      </div>
  </div>

</section><!-- /.content -->
