<section class="content-header">
  <h1>
    Chat
    <small>Select project to chat members</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">chat</li>
  </ol>
</section>

<section class="content" ng-controller="ChatCtrl">


<!-- Chat box -->
<div class="box box-success">
  <div class="box-header">
    <i class="fa fa-comments-o"></i>
    <h3 class="box-title">Chat</h3>
    <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
      <div class="btn-group" data-toggle="btn-toggle" >
        <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
      </div>
    </div>
    <br>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Select Project</span>
      <select class="form-control select2" style="width:100%"
        ng-model="myProjectSelected"
        ng-change="loadChat(myProjectSelected)"
        ng-options="myProject._id as myProject.name for myProject in myProjects"
         >
      </select>

    </div><!-- /.form-group -->
    <br>
  </div>
  <div class="box-body chat" ng-model="chats" id="chat-box" ng-slimscroll height="500">
    <!-- chat item -->
    <!--<div class="item">
      <img src="assets/images/user4-128x128.jpg" alt="user image" class="online">
      <p class="message">
        <span class="name">
          <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
          Mike Doe
        </span>
        I would like to meet you to discuss the latest news about
        the arrival of the new theme. They say it is going to be one the
        best themes on the market
      </p>
      <div class="attachment">
        <h4>Attachments:</h4>
        <p class="filename">
          Theme-thumbnail-image.jpg
        </p>
        <div class="pull-right">
          <button class="btn btn-primary btn-sm btn-flat">Open</button>
        </div>
      </div><!-- /.attachment -->
    <!--</div><!-- /.item -->
    <!-- chat item -->
    <div class="item" ng-repeat="message in chats.messages">
      <img src="assets/images/user3-128x128.jpg" alt="user image" class="offline">
      <p class="message">
        <span class="name">
          <small class="text-muted pull-right">{{message.date | date:'medium'}} <i class="fa fa-clock-o"></i></small>
          {{message.userName}}
        </span>
        {{message.message}}
      </p>
      <br>
    </div>
    <!-- /.item -->
    <!-- chat item -->
    <!--<div class="item">
      <img src="assets/images/user2-160x160.jpg" alt="user image" class="offline">
      <p class="message">
        <span class="name">
          <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
          Susan Doe
        </span>
        I would like to meet you to discuss the latest news about
        the arrival of the new theme. They say it is going to be one the
        best themes on the market
      </p>
    </div><!-- /.item -->
  </div><!-- /.chat -->

  <div class="box-footer">
    <div class="input-group">
      <input class="form-control" ng-model="justMessage"
       placeholder="Type message..."
      ng-keydown="$event.which === 13 && addMessage(myProjectSelected)"
      focus-on="chatProjectSelected" >
      <div class="input-group-btn">
        <button class="btn btn-success" ng-click="addMessage(myProjectSelected)"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div>
</div><!-- /.box (chat box) -->
</section>
